.Exp {
    display: block;
    background-color:rgb(189, 184, 184);
    height: 30px;
    border-bottom: solid red;
    width: 20%;
    
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: justify;
    text-indent: 30px;
}
.button{
    background-color: red;
    font-size: 25px;
    width:12%

}
