.Exp {
    display: block;
    background-color:rgb(189, 184, 184);
    height: 30px;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: justify;
    text-indent: 30px;
}