body
{
	box-sizing: border-box;
	padding:20px;

	margin:0;	
	min-width:1349.45px; 
	max-width:1349.45px;
}

.top_heading
{
	padding:15px 0px;
	width:100%;
	height:27px;	
	margin:0;
	font-size:25px;
	background:yellow;
	text-align:center;
	text-transform:uppercase;
	font-family:calibri;
}

.top_nav
{
	background:#444444;
	width:100%;
	height:19px;
	margin:0;
	padding:15px 0;
	text-align:center;
}
li
{
	display:inline;
	padding:0px 20px;
}
a
{
	color:white;
	text-transform:lowercase;
	text-decoration:none;
	font-family:calibri;
}
.nav_bg
{
	object-fit:cover;
	height:350px;
	width:100%;
	opacity:1.0;
}
.nav_bg_overlay
{
	position:absolute;
	top:126px;
	left:125px;
	background:black;
	height:350px;
	width:1098px;
	opacity:0.8;
	margin:auto;
}
.nav_foreground_img
{
	position:absolute;
	top:170px;
	left:945px;
	
	height:250px;
	width:250px;
}

.nav_inside_heading1
{
	position: absolute;
	color:yellow;
	font-family: "IMPACT";
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: normal;
	top:130px;
	left:150px;
	font-size:40px;
}

.nav_inside_heading2
{
	position: absolute;
	color:white;
	font-family: "impact";
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: normal;
	top:190px;
	left:150px;
	font-size:30px;
}

.nav_inside_heading3
{
	position: absolute;
	color:lightgrey;
	font-family:calibri;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: normal;
	top:270px;
	left:150px;
	font-size:21px;
}

.side_right_content
{
	background: #444444;
	margin:0;
	padding:10px 30px;
}

.side_right_main
{
	position:absolute;
	color:white;
	width:365px;
	left:830px;
	margin-top:-10px;
}

.side_about_heading
{
	position: relative;
	bottom:-20px;
	padding:5% 5%;;
	width:90%;
	background: yellow;
	color:rgb(19, 18, 18);
	font-size:20px;
	text-transform: uppercase;
	font-family: calibri;
	
}

.side_left_main
{
	position:absolute;
	max-width:30%;
	left:9%;
	margin-top:10px;
}

footer
{
	position: relative;
	opacity:1.0;
	border-top:yellow solid 5px;
	color:black;
	margin: 0% 9%;
	top:1000px;
	padding:20px 0px;
	padding-bottom:50px;
	font-size:15px;
}

.link1
{
	color:black;
	background:yellow;
	padding: 5px 10px;
}

.side_left_heading1
{
	background:yellow;
	color:rgb(27, 27, 27);
	padding:2% 5%;
	width:22%;
	font-family:calibri;
	font-size:20px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: bold;
}

.side_left_para1
{
	border-left:yellow 5px solid;
	padding-top:20px;
	padding-left:20px;
	margin-top:-18px;
	
}

.side_left_heading2
{
	background:yellow;
	color:rgb(27, 27, 27);
	padding:2% 5%;
	width:22%;
	font-family:calibri;
	font-size:20px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: bold;
}

.side_left_para2
{
	border-left:yellow 5px solid;
	padding-top:20px;
	padding-left:20px;
	margin-top:-18px;
	
}

.side_left_heading3
{
	background:yellow;
	color:rgb(27, 27, 27);
	padding:2% 5%;
	width:22%;
	font-family:calibri;
	font-size:20px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: bold;
}

.side_left_para3
{
	border-left:yellow 5px solid;
	padding-top:20px;
	padding-left:20px;
	margin-top:-18px;
	
}
.side_left_heading4
{
	background:yellow;
	color:rgb(27, 27, 27);
	padding:2% 5%;
	width:22%;
	font-family:calibri;
	font-size:20px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: bold;
}

.side_left_para4
{
	border-left:yellow 5px solid;
	padding-top:20px;
	padding-left:20px;
	margin-top:-18px;
	
}


.section2
{
	margin-top:35px;
	margin-left:30px;
}

.section3
{
	margin-top:35px;
}

.section4
{
	margin-top:35px;
	margin-left:30px;
}

.side_left_content_text1
{
	color:yellow;
}


