body {
    font-family: Avenir Next Medium;
     }

     nav ul
     {
        
        text-align:center;
     }
  nav li {
        display: inline-block;
        text-decoration: none; 
        margin-left:30px;
     }
     nav a {
      color:black; 
      text-decoration: none; 
     }
     .profile{
        text-align: center;
        font-family: Avenir Next;
     }
     .form{
        text-align: center;
        font-family: Avenir Next;
        
     }
   
     .stats{
        margin-bottom: 20px;
     }
     .img {
        vertical-align: middle;
        margin-left: 40px;
       
     }
     .abouttext{
        display: inline;
       
     }
    