/* Home page styling begins*/

body {
  font-family: "Avenir", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav ul {
  background: black;
  text-align: center;
  height: 25px;
  width: auto;
  margin: 0px;
  padding: 3em;
}
nav li {
  display: inline-block;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 35px;
}

li {
  display: inline-block;
  text-align: center;
}

li a {
  text-transform: uppercase;
  color: lightgray;
  text-align: center;
  padding: 0px 30px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.index-banner {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 600px;
  background-image: url("Images/Beers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Logo Image on the banner */
img {
  height: 300px;
}
.about-us-flex {
    display: flex;
    justify-content: space-around;
  }
.about-us h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.about-us {
  margin: 0px 0px;
  flex-basis: 60%;
  flex: 4;
  line-height: 40px;
  background-color: white;
  padding: 100px;
  font-size: 30px;
  font-weight: 200;
  text-align: justify;
}

@media (min-width: 768px) {
  .index-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 60px 20px;
    padding: 20px;
  }
}
.index-options img {
  max-width: 100%;
  height: 400px;
}

.index-image-section {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.index-image-section p {
  border: 2px solid black;
  margin: 30px 200px;
  border-radius: 3px;
  padding: 20px;
  letter-spacing: 0.2em;
  color: #000;
}
.index-image-section a {
  text-decoration: none;
}

  .contactus {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
    padding:20px;
  }

.hours {
  flex: 4;
  margin: auto;
  border: 3px solid black;
  padding: 40px;
  letter-spacing: 0.1em;
  color: #000;
}

.contact_form {
  flex:4;
  margin: 0px 0px;
  padding: 100px;
}
.contact_form h1 {
  font-weight: 400;
  text-align: center;
}
.form {
  border: none;
  text-align: center;
  /* outline: none; */
}
.name {
  font-size: 20px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.email {
  font-size: 20px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.message {
  font-size: 20px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.submit {
  background: black;
  color: white;
  border: none;
  text-align: center;
  padding: 10px 40px;
  border-radius: 7px;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
  outline: none;
}
.footer-dandy {
  background-color: #000;
  margin-top: 2%;
  padding: 2em;
  text-align: center;
  color: white;
}
.social img {
  height: 40px;
}

/* Home page styling ends*/

/* Beer page Styling starts*/


  .beerpage {
    display: flex;
    /* justify-content: center; */
  }

.banner {
  background-color: black;
  color: white;
  flex: 3;
  line-height: 40px;
  padding: 40px;
}

.underworld {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #eee;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.une {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #fff;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.wild {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #eee;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.golden {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #fff;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.cherry {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #eee;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.black {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #fff;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.jungle {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #eee;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.hopped {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #fff;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.banner2 {
  background-color: black;
  color: white;
  flex: 3;
  max-width: 100%;
  padding: 30px;
}

.banner h1 {
  text-align: center;
  font-size: 40px;
  position: relative;
  left: 10px;
  border: 2px solid white;
  margin: 30px 250px;
  border-radius: 3px;
  padding: 20px;
  letter-spacing: 0.2em;
}
.banner2 h1 {
  text-align: center;
  font-size: 40px;
  position: relative;
  left: 10px;
  border: 2px solid white;
  margin: 30px 250px;
  border-radius: 3px;
  padding: 20px;
  letter-spacing: 0.2em;
}
h2 {
  text-align: center;
  font-size: 20px;

  position: relative;
  left: 10px;
}

h3 {
  text-align: center;
  font-size: 30px;
  position: relative;
  left: 10px;
}

h4 {
  text-align: center;
  position: relative;
  left: 10px;
}
h5 {
  text-align: center;
  position: relative;
  left: 10px;
}
/* Beer page Styling ends*/

/* About Us Styling Starts*/

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: justify;
    flex-direction: column;
  }
.about-text {
  margin: 0px 0px;
  flex: 2;
  line-height: 40px;
  background-color: #fff;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  justify-content: center;
}
.the-story {
  margin: 0px 0px;
  flex: 2;
  line-height: 40px;
  background-color: #fff;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  justify-content: center;
}

.addressFoot {
  margin-top: 1.5%;
  color: white;
  font-size: 15px;
  text-align: center;
  padding-left: 150px;
}
.textFoot {
  margin-top: 1.5%;
  color: white;
  font-size: 15px;
  margin-left: 20%;
}
/* About Us Styling ends*/

/* Tasting room styling starts*/

.tasting-room-banner {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 600px;
  background-image: url("Images/Caviar\ Martini\ Champagne\ Rose.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.tasting-room-banner h1 {
  font-size: 80px;
  font-weight: 400;
  margin-top: 200px;
  color: white;
}

  .tating-room-section {
    display: flex;
  }

.tasting-room-section h2 {
  font-size: 40px;
  font-weight: 500;
}
.what-we-do {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #eee;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.restaurant {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #fff;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.shop {
  margin: 0px 0px;
  flex: 3;
  line-height: 40px;
  background-color: #eee;
  padding: 50px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.tasting-room-section h3 {
  font-size: 30px;
  font-weight: 500;
}
.more-info {
  margin: 0px 0px;
  line-height: 40px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
/* Tasting room styling ends*/
